{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul class="flex space-x-6">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a class="transition-colors duration-200 font-semibold text-sm px-3 py-2 rounded-lg {{ if eq (index $attrs "class") "active" }}{{ else }}{{ end }}" style="color: {{ if eq (index $attrs "class") "active" }}var(--link){{ else }}var(--heading-text){{ end }};"
        {{- range $k, $v := $attrs }}
          {{- if ne $k "class" }}
            {{- with $v }}
              {{- printf " %s=%q" $k $v | safeHTMLAttr }}
            {{- end }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul class="absolute top-full left-0 shadow-lg rounded-md py-2 hidden group-hover:block" style="background-color: var(--surface-bg);">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
